*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}


h1{
    font-size: 2.5rem;
    margin: 20px ;
}


button{
    padding: 10px 20px;
    margin-top: 30px ;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

